.pagination {
    list-style: none;
    margin: 20px 200px;
    padding-top: 1rem;
    border-top: 2px solid #ccc;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .pagination .hidden {
    display: none;
  }
  
  .pagination li {
    font-size: 1.4rem;
    border: 1px solid #ccc;
    min-width: 30px;
    height: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .pagination p {
    margin-left: 1rem;
    font-size: 15px;
  }
  
  .pagination .page {
    color: #5f696b;
    font-size: 15px;
  }
  
  .pagination .active {
    background-color: var(--color-primary);
    color: #fff;
  }